<html>
  <head>
    <title>Cryto Pay</title>
    <%- include('style') %>
  </head>
  <body>
    <h1>Welcome to Crypto Pay!</h1>
    <p>This app will help customers of Headphones.com pay for products with cryptocurrency.</p>
  </body>
</html>
