<html>
  <head>
    <title>Cryto Pay</title>
    <style type="text/css" href="/dist/style.css">
  </head>
  <body>
    <h1>Index Page</h1>
    <h2>You have reached the index page of Crypto Pay</h2>
  </body>
</html>
