<html>
  <head>
    <title>Cryto Pay</title>
  </head>
  <body>
    <h1>Index Page</h1>
    <h2>You have reached the index page of Crypto Pay</h2>
    <p>Not much to see here...</p>
  </body>
</html>
