<html>
  <head>
    <title>Crypto Pay</title>
    <link rel="stylesheet" href="/dist/style.css" />
  </head>
  <body>
    <div id="page--crypto-pay">
      <div class="content">
        <h1>Headphones.com</h1>
        <h2>Crypto Payments</h2>
        <p>Thanks for your interest in the <strong><%= data.title %></strong></p>
        <p><strong>Price (USD)</strong>: $<%= data.variants[0].price %></p>

        <div class="info">
          <img class="info__image" src="<%= data.images[0].src %>" />
        </div>

        <div class="steps">
          <form action="/submit" id="crypto" method="POST">
            <div class="container">
              <h3>Step 1</h3>
              <p>Please select from the list of coin payment options below:</p>
              <select>
                <option name="raiblocks">Raiblocks</option>
              </select>
            </div>
            <div class="container">
              <h3>Step 2</h3>
              <p>Enter your e-mail address:</p>
              <input type="email" name="email" />
            </div>
            <div class="container">
              <input type="submit" value="Submit">
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
