html {
  font-size: 12px;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem 0;
  line-height: 3rem;
  text-transform: uppercase;
}

h2 {
  font-size: 1rem;
  font-weight: bold;
  margin: 1rem 0;
}

p {
  margin: 0.5rem 0;
}

sub {
  font-size: 1rem;
}

.container {
  padding: 3rem;
}

.step {
  margin: 2rem 0;
}

.form__section {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.form__section .form__field {
  flex: 1 1 auto;
  margin: 1rem;
}

.form__section .form__field--small {
  flex: 0 1 auto;
  margin: 1rem;
}

.form__field input {
  padding: 1rem;
  margin-bottom: 0.5rem;
  width: 100%;
  min-width: 100%;
  font-size: 1.5rem;
}

.form__error--label {
  color: red;
}

.form__error--input {
  border: 1px solid red;
}

.form__field label {
  display: inline-block;
  font-weight: bold;
  margin: 0 1rem 0.5rem 0;
}

.slide-enter {
  transform: translateX(100%);
}

.slide-enter.slide-enter-active {
  transform: translateX(0%);
  transition: transform 400ms ease;
}

.slide-leave {
  transform: translateX(0%);
  opacity: 1;
}

.slide-leave.slide-leave-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 100ms ease;
}

.product {
  margin: 1rem;
}

.product select {
  max-width: 50vw;
}

.product__info {
}

.product__info--content {
  padding: 1rem;
}

.product__info--image {
}

.product__thumbnail {
  margin: 0 auto;
  min-width: 200px;
  width: 100%;
  max-width: 75%;
  display: block;
}

.product__variant-info {
  margin: 2rem 0;
  font-style: italic;
}
