h1 {
  font-size: 3rem;
  font-weight: bold;
  margin: 1rem 0;
  line-height: 3rem;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem 0;
}

.container {
  padding: 2rem;
}

.Polaris-DisplayText {
  margin-bottom: 2rem;
}
